<launch>

	<arg name="world_file"/>

  <!-- Loads a world into Gazebo. -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="use_sim_time" value="true"/>
		<arg name="debug" value="false"/>
		<arg name="gui" value="true"/>
		<arg name="world_name" value="$(arg world_file)"/>
	</include>
	
</launch>
